# VSCode settings
.vscode/

# Spyder settings
.spyproject

# Python extra files - bytecode
__pycache__
*.pyc

# Datasets
/cifar10
/mnist
/datasets

# Trained Models
/models
/trained_models

# DSE results
/*.csv
/results

# data for testing
/data
