
#### PYTHON
# Python extra files - bytecode
__pycache__
*.pyc
# Jupyter temp files
.ipynb_checkpoints/
# to remove the coverage files
.coverage
# pytest cache
.pytest_cache/
# to remove the built distribution/editable install
*.egg-info
dist/
# used by tox with isolated build
build/
####

#### PROJECT SETTINGS
# VSCode settings
# NOTE: now that the project is becoming complex, it is better to save the
# settings
# as suggested in StackOverflow, it is better to save a default settings
# without the absolute paths and other information
# the final pattern to ignore nested folders
.vscode/**/*
# we still save these generic files
!.vscode/settings.json.default
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode


### EMACS FILES
# this covers Emacs temporary files
.#*

# Spyder settings
.spyproject
####

#### JSONNET
# we don't want to save .json files from the main configs, however we want
# to save the configs from the experiments
papers/*/configs/**/*.json
####


#### TEMPORARY LOCAL TEST DATA
# Datasets
/cifar10
/mnist
/datasets
# data for testing
**/data
**/checkpoints
# PyTorch Lightning logs
**/lightning_logs
# custom model training
**/model_training*/
# DSE results
/*.csv
/results
notebooks/dsn2023_doctoralforum/results
scripts/results
scripts/configs/results
# Test Models
**/model_drafts
# Trained Models
/models
/trained_models
####

### CI/CD Actions Temporary Files ###
mkinit-*.log

### TEST FILES ###
.nox/*
.tox/*
.logs/*
enpheeph-*/
**/.mypy_cache

### FOSSIL REPO
*.fossil
*.fossil-journal
