# this should be run from the main enpheeph project directory, so that -e . installs
# the enpheeph package, e.g. pip install -r papers/ijcnn2022/requirements.txt
# tested with Python 3.9.7
# it is suggested to use conda and install the following dependencies from conda-forge
# the main problem is with the cudatoolkit as well as cupy, which is difficult
# to build properly using pip
# cudatoolkit=10.1
# cudatoolkit-dev=10.1
# cupy=9.6.0
# gcc_linux-64
# gxx_linux-64
# openblas-devel
# NOTE: cudatoolkit-dev=10.2 DOES NOT EXIST


-e .[full]
# to upgrade packages only if needed to match the dependencies
# must be used as command-line options
# --upgrade --upgrade-strategy only-if-needed

# for PyTorch 1.8.2
-f https://download.pytorch.org/whl/torch/

lightning-flash[all]==0.5.2
pytorch-lightning[extra]==1.5.2
torch==1.9.1+cu102
torchaudio==0.9.1
torchvision==0.10.1
